/* Cloak elements on initial load to hide the possible display of {{ ... }} 
 * Add to the app tag or to specific tags
 * To display "loading...", change to the following:
 *    [v-cloak] > * { display:none }
 *    [v-cloak]::before { content: "loading…" }
 */
[v-cloak] { display: none; }
.v-main { background-color: #eee; }

/*  Colours for Syntax Highlighted pre's */
.syntax-highlight { color:white; background-color:black; padding:5px 10px; font-size: 60%; }
.syntax-highlight > .key {color:#ffbf35}
.syntax-highlight > .string {color:#5dff39;}
.syntax-highlight > .number {color:#70aeff;}
.syntax-highlight > .boolean {color:#b993ff;}

.width100 { width: 100%; }
.unit { font-size: 70%; vertical-align: 20%; margin-left: 0.1em; }
.xgauge { margin: 0.5em; }

.g-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18em, 1fr));
  gap: 0.5em;
  grid-auto-flow: dense;
}
.g-grid-small {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8em, 1fr));
  grid-auto-rows: 5em;
  gap: 0.5em;
  grid-auto-flow: dense;
}
.g-2w { grid-column: span 2; }
.g-2w-2h { grid-column: span 2; grid-row: span 2; }
.g-3w { grid-column: span 3; }
.g-3w-2h { grid-column: span 3; grid-row: span 2; }
.g-4w-2h { grid-column: span 4; grid-row: span 2; }
