name: Build FlexDash

on: [push]

env:
  # Upload to AWS uses OIDC for federated auth:
  # https://docs.github.com/en/actions/deployment/security-hardening-your-deployments/configuring-openid-connect-in-amazon-web-services
  S3_PATH: s3.voneicken.com/flexdash
  S3_REGION: us-east-1
  AWS_ROLE: arn:aws:iam::635201719205:role/github-actions-s3.voneicken.com

permissions:
  id-token: write
  contents: write

jobs:
  build-all:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          path: .

      # use branch or tag name in S3 upload path
      - run: |
          echo VERSION=$(egrep version.: package.json) | sed -E 's/=.*"([0-9]\..*)".*/=\1/' >>$GITHUB_ENV

      - name: npm build
        run: |
          npm install --production=false
          npm run build
          echo ${{env.VERSION}} >dist/VERSION
          tar czf flexdash-${{env.VERSION}}.tgz -C dist .
          ls -ls *.tgz
      
      - name: source tgz
        run: |
          tar -czf flexdash-${{env.VERSION}}-src.tgz [A-Z]* *.html *.js package* public src
          ls -ls *.tgz
      
      # - name: Produce html files
      # This is a mess 'cause it then requires a pull & merge, and also it prevents re-running the action'
      #   run: |
      #     ./gen_html.sh
      #     git config --global user.name 'FlexDash'
      #     git config --global user.name 'flexdash@users.noreply.github.com'
      #     git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/$GITHUB_REPOSITORY
      #     git add ./docs
      #     git commit -m 'gen html for ${{env.VERSION}}'
      #     git push

      - name: Configure AWS Credentials
        # See https://docs.github.com/en/actions/deployment/security-hardening-your-deployments/configuring-openid-connect-in-amazon-web-services
        uses: aws-actions/configure-aws-credentials@master
        with:
          role-to-assume: ${{env.AWS_ROLE}}
          role-session-name: GithubActionsFlexDash
          aws-region: ${{ env.S3_REGION }}

      - name: Upload to AWS S3 repo
        run: |
          aws s3 sync --acl public-read dist s3://${{env.S3_PATH}}/${{env.VERSION}}/

      - name: Upload package to S3 repo
        run: |
          ls -ls *.tgz
          aws s3 cp --acl public-read flexdash-${{env.VERSION}}.tgz s3://${{env.S3_PATH}}/
          aws s3 cp --acl public-read flexdash-${{env.VERSION}}-src.tgz s3://${{env.S3_PATH}}/

      - name: Upload major.minor package to S3 repo
        run: |
          V=${${{env.VERSION}}%.*}
          aws s3 cp --acl public-read flexdash-${{env.VERSION}}.tgz s3://${{env.S3_PATH}}/flexdash-$V.tgz
          aws s3 cp --acl public-read flexdash-${{env.VERSION}}-src.tgz s3://${{env.S3_PATH}}/flexdash-$V-src.tgz

      - name: Create annotation with link to S3
        run: |
          S3=s3.amazonaws.com/${{env.S3_PATH}}
          echo "https://$S3/$GIT_REF/$SG_ZIP"
          echo "::notice title=FlexDash dist::https://$S3/flexdash-${{env.VERSION}}.tgz "
          echo "::notice title=FlexDash src::https://$S3/flexdash-${{env.VERSION}}-src.tgz "
